<div class="card m-3">
  <div class="card-body">
    <div class="d-flex align-items-center justify-content-between">
      <h5 class="card-title fs-3">{{title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">
        {{#if user.username}}
          {{user.username}}
          @
          {{format_date created_at}}
        {{else}}
          {{format_date created_at}}
        {{/if}}
      </h6>
    </div>
    <p class="card-text">{{content}}</p>
    <a href="/posts/{{id}}" class="btn btn-light">view post</a>
    {{#if @root.view.dashboard}}
      <a href="/dashboard/edit/{{id}}" class="btn btn-light">edit post</a>
    {{/if}}
  </div>
</div>